/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



/* custom css */
body{
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Outfit;
    background-color: hsl(212, 45%, 89%);
}


.bodyContent--centered{
    display: grid;
    align-items: center;
    justify-content: center;   
}

.card{
/* solution using position */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

    height: 470px;
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.card__image{
    height: 300px;
    border-radius: 12px;
}

.card__text{
    margin: 15px;
    text-align: center;
}

.card__text--title{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
}

.card__text--subtext{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}